<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seirin.dao.employee.EmployeeDaoInf">

	<!-- ===================统计图========= -->
	<select id="getdata"
		resultType="com.seirin.vo.employee.Employeeview">
		select label,value
		from employeeview
	</select>
	<insert id="adddata"
		parameterType="com.seirin.vo.employee.Employeeview">
		insert into employeeview(label,value)
		values (#{label},#{value})
	</insert>
	<delete id="deletedata">
		delete from employeeview
	</delete>

	<select id="selectEmployeeDistribution"
		resultType="com.seirin.vo.employee.Employeeview">
		select a.area_name label,count(*) value
		from employee e,area a
		where e.employee_area =a.area_id
		group by a.area_name
	</select>



	<!-- 总记录数 -->
	<select id="selectRowCount" parameterType="String"
		resultType="int">
		select count(*) from employee
		<if test="employee_name !=null and employee_name != ''">
			where employee_name = #{employee_name}
		</if>
	</select>

	<select id="isLoginNamePwd"
		parameterType="com.seirin.vo.employee.Employee"
		resultType="com.seirin.vo.employee.Employee">
		select *
		from employee
		where employee_loginname
		=#{employee_loginname} and employee_password
		=#{employee_password}
	</select>

	<select id="selectEmployee"
		parameterType="com.seirin.vo.employee.Employee"
		resultType="com.seirin.vo.employee.Employee">
		select
		e.employee_id,e.employee_name,e.employee_loginname,e.employee_sex,e.employee_tel,e.employee_level,e.employee_attribute,p.position_name,a.area_name
		from employee e,position p,department d,area a
		where
		e.position_id=p.position_id
		and p.department_id=d.department_id
		and
		d.area_id=a.area_id
		<if test="employee_name !=null and employee_name!=''">
			and e.employee_name like
			'%${employee_name}%'
		</if>
	</select>

	<!-- 分页查询员工+根据员工姓名模糊查询 -->
	<select id="selectEmployeePaging"
		resultType="com.seirin.vo.employee.Employee">
		select * from (
		select rownum rn,tb.* from (
		select
		e.employee_id,e.employee_name,e.employee_loginname,e.employee_sex,e.employee_tel,e.employee_level,e.employee_attribute,p.position_name,a.area_name
		from employee e,position p,department d,area a
		where
		e.position_id=p.position_id
		and p.department_id=d.department_id
		and
		d.area_id=a.area_id
		<if test="employee_name !=null and employee_name!=''">
			and e.employee_name like
			'%${employee_name}%'
		</if>
		order by employee_id desc )tb )a
		where rn between
		#{startrow,jdbcType=INTEGER} and
		#{endrow,jdbcType=INTEGER}
	</select>

	<select id="selectEmployeeByid" parameterType="int"
		resultType="com.seirin.vo.employee.Employee">
		select
		e.*,p.position_name,a.area_name,d.department_name,t.tech_tname
		from
		employee
		e,position p,department d,area a,tech t
		where
		employee_id=#{employee_id}
		and
		e.position_id=p.position_id
		and
		p.department_id=d.department_id
		and d.area_id=a.area_id
		and
		t.tech_id=e.employee_tech
	</select>

	<insert id="addEmployee"
		parameterType="com.seirin.vo.employee.Employee">
		<selectKey resultType="int" keyProperty="employee_id"
			order="BEFORE">
			select
			employee_seq.nextVal
			from dual
		</selectKey>
		insert into
		Employee(employee_id,position_id,employee_name,employee_loginname,employee_password,employee_tel,employee_wechat,employee_area,employee_level,employee_business,employee_create_time,employee_sex,employee_tech,employee_num,employee_dept)
		values(#{employee_id},#{position_id},#{employee_name},#{employee_loginname},#{employee_password},#{employee_tel},#{employee_wechat},#{employee_area},#{employee_level},#{employee_business},#{employee_create_time},#{employee_sex},#{employee_tech},0,#{employee_dept})
	</insert>
	<update id="updateEmployee"
		parameterType="com.seirin.vo.employee.Employee">
		update Employee set
		POSITION_ID =
		#{position_id,jdbcType=INTEGER}
		,RESUME_ID =
		#{resume_id,jdbcType=INTEGER}
		,EMPLOYEE_NAME =
		#{employee_name,jdbcType=VARCHAR}
		,EMPLOYEE_LOGINNAME =
		#{employee_loginname,jdbcType=VARCHAR}
		,EMPLOYEE_PASSWORD =
		#{employee_password,jdbcType=VARCHAR}
		,EMPLOYEE_TEL =
		#{employee_tel,jdbcType=VARCHAR}
		,EMPLOYEE_WECHAT =
		#{employee_wechat,jdbcType=VARCHAR}
		,EMPLOYEE_EMAIL =
		#{employee_email,jdbcType=VARCHAR}
		,EMPLOYEE_QQ =
		#{employee_qq,jdbcType=VARCHAR}
		,EMPLOYEE_AREA =
		#{employee_area,jdbcType=INTEGER}
		,EMPLOYEE_STATUS =
		#{employee_status,jdbcType=VARCHAR}
		,EMPLOYEE_ATTRIBUTE =
		#{employee_attribute,jdbcType=VARCHAR}
		,EMPLOYEE_LEVEL =
		#{employee_level,jdbcType=VARCHAR}
		,EMPLOYEE_BUSINESS =
		#{employee_business,jdbcType=VARCHAR}
		,EMPLOYEE_UPDATE_TIME =
		#{employee_update_time}
		,EMPLOYEE_SEX =
		#{employee_sex,jdbcType=VARCHAR}
		,EMPLOYEE_CODE =
		#{employee_code,jdbcType=VARCHAR}
		,EMPLOYEE_TECH =
		#{employee_tech,jdbcType=INTEGER}
		,EMPLOYEE_Dept =
		#{employee_dept,jdbcType=INTEGER}
		where
		employee_id=#{employee_id,jdbcType=INTEGER}
	</update>

	<!-- 修改员工所带班级数 -->
	<update id="updateEmployeeNumById"
		parameterType="com.seirin.vo.employee.Employee">
		update Employee
		set EMPLOYEE_NUM = #{employee_num}
		where
		EMPLOYEE_ID = #{employee_id}
	</update>
</mapper>