<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.QuyuDaoInf">

	<insert id="addQuyu" parameterType="com.vo.Quyu">
		<selectKey resultType="int" keyProperty="area_id" order="BEFORE">
			select
			area_seq.nextVal
			from dual
		</selectKey>
		insert into
		AREA
		values(#{area_id},#{area_code,jdbcType=VARCHAR},#{area_name,jdbcType=VARCHAR})
	</insert>

	<select id="selectQuyu" resultType="com.vo.Quyu">
		select  *
		from AREA
	</select>
	
		<select id="selectQuyuByid"  resultType="com.vo.Quyu"  parameterType="int">
		select  *
		from AREA
		where  area_id=#{area_id}
	</select>

	<update id="updateQuyu" parameterType="com.vo.Quyu">
		update area
		set area_code = #{area_code}, area_name = #{area_name}
		where area_id = #{area_id}
	</update>

</mapper>