<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seirin.dao.course.ClassRoomDaoInf">

	<!-- 查询所有教室 -->
	<select id="selectClassRoom"
		resultType="com.seirin.vo.course.ClassRoom">
		select c.*,a.area_name
		from classroom c,area a
		where
		c.area_id = a.area_id
	</select>

	<!-- 按条件查询教室 -->
	<select id="selectClassRoomByInfo"
		parameterType="com.seirin.vo.course.ClassRoom"
		resultType="com.seirin.vo.course.ClassRoom">
		select c.*,a.area_name
		from classroom c,area a
		where c.area_id =
		a.area_id
		<if test="area_id !=0">
			and c.area_id =#{area_id}
		</if>
	</select>

	<!-- 添加教室 -->
	<insert id="addClassRoom"
		parameterType="com.seirin.vo.course.ClassRoom">
		<selectKey resultType="int" keyProperty="classroom_cid"
			order="BEFORE">
			select classroom_seq.nextval
			from dual
		</selectKey>
		insert into CLASSROOM
		values
		(#{classroom_cid},#{area_id},#{classroom_cname},${@com.seirin.util.MessageUtil@CLASSROM_CSTATUS_KONGXIAN},#{classroom_cpeonumber})
	</insert>

	<!-- 根据教室id查询教室信息 -->
	<select id="selectclassRoomByid" parameterType="int"
		resultType="com.seirin.vo.course.ClassRoom">
		select
		CLASSROOM_CID,AREA_ID,CLASSROOM_CNAME,CLASSROOM_CSTATUS,CLASSROOM_CPEONUMBER
		from CLASSROOM
		where CLASSROOM_CID=#{classroom_cid,jdbcType=INTEGER}
	</select>

	<!-- 修改教室信息 -->
	<update id="updateClassRoom"
		parameterType="com.seirin.vo.course.ClassRoom">
		update classroom
		set
		area_id=#{area_id,jdbcType=INTEGER},classroom_cname=#{classroom_cname,jdbcType=VARCHAR},
		classroom_cstatus=#{classroom_cstatus,jdbcType=VARCHAR},classroom_cpeonumber=#{classroom_cpeonumber,jdbcType=VARCHAR}
		where classroom_cid=#{classroom_cid,jdbcType=INTEGER}
	</update>
	
	<!-- 修改教室状态 -->
	<update id="updateClassRoomStatus">
	update CLASSROOM
	set
	classroom_cstatus=#{classroom_cstatus,jdbcType=VARCHAR}
	where classroom_cid=#{classroom_cid,jdbcType=INTEGER}
	</update>
	
	<select id="selectclassroominclasses" parameterType="int" resultType="com.seirin.vo.course.StartClass">
		select *
		from startclass
		where classroom_cid = #{classroom_cid,jdbcType=INTEGER}
		and startclass_sstatus = 0 
	
	</select>

</mapper>